/tramp
/ac-comphist.dat
/desktop
/elpa
/ido.last
/eshell/history
/projectile-bookmarks.eld
/recentf
/auto-save-list
/.python-environments
/clean-mode
/places
/network-security.data
/xkcd
*.elc
/undo-tree-history
/#recentf#
/secrets.el
config.el
/url
/.#recentf
/request
snippets/
transient/
.lsp-session-v1